<header class="header">

  <div class= "header__wrapper">
    <h1 class="header__logo">Allen Hicks</h1>
  </div>
  
  <div class="carousel carousel--homepage">
    <% @paintings.each do |p|  %>  
      <div class="carousel__item">
        <%= image_tag(p.image.url(@device_type)) %>  
      </div>
    <% end  %>
  </div>

</header>
